{extends 'APP_LOWER/base.html'}
{block body}
<form method="post" action="{url 'APP_CAMEL_CASE_Views_Login::login'}">
<input type="hidden" name="_redirect_after" value="{$_redirect_after}" />
{if $error}
<p>{$error}</p>
{/if}
<h3>{trans 'What is your login?'}</h3>
<p><label for="id_login">{trans 'My login is'}</label><input type="text" name="login" id="id_login" value="{$login}" /></p>
<p><label for="id_password">{trans 'My password is'}</label><input type="password" name="password" id="id_password" /></p>
<p><input type="submit" value="{trans 'Sign in'}" /></p>
</form>
{aurl 'recov_url', 'APP_CAMEL_CASE_Views_Login::passwordRecoveryAsk'}
<p>{blocktrans}Have you forgotten you password? Try <a href="{$recov_url}">recovering</a>{/blocktrans}</p>
{/block}
{block javascript}
<script type="text/javascript">
document.getElementById('id_login').focus()
</script>
{/block}

