{extends 'APP_LOWER/base.html'}
{block body}
{if $form.errors}
<div class="errors">
<p>{trans 'Oups, please check the provided login or email address to recover your password.'}</p>
{if $form.get_top_errors}
{$form.render_top_errors|unsafe}
{/if}
</div>
{/if}
<form method="post" action=".">
<table>
<tr>
<th><strong>{$form.f.account.labelTag}:</strong></th>
<td>{if $form.f.account.errors}{$form.f.account.fieldErrors}{/if}
{$form.f.account|unsafe}<br />
<span class="helptext">{$form.f.account.help_text}</span>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input type="submit" value="{trans 'Recover My Password'}" /></td>
</tr>
</table>
</form>
{/block}
{block javascript}<script type="text/javascript">
document.getElementById('id_account').focus();
</script>
{/block}

